body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-hailight{
    color: orange;
}
.half-part{
    width: 40%;
    float: left;
    padding: 2%;
    margin-left: 5%;
}
.half-part img{
    width: 100%;
}